a {
    color: #5A9B8E;
}

code {
    color: #2C3E50;
}

#ulmenu .nav > li > .nav {
    padding-left: 20px;
    font-size: 85%;
}

#ulmenu li.active > a {
    border-left-width: 2px;
    border-left-color: #2C3E50;
    border-left-style: solid;
}

.affix {
    top: 22px;
    position: fixed;
}

.affix-top {
    position: relative;
    width: auto;
    min-width: 250px;
}

.affix-bottom {
    position: absolute;
}

@media(max-width:991px){
   .affix {
     position: static;
     width: auto;
     top: 0;
    }
}