<div class="col-md-6 col-md-offset-3" id="bottom">
    <div class="center-block text-center" style="padding-top: 15px">
        <div class="well well-sm small">
            Page curated by <a href="https://github.com/flikore">Flikore</a> and <a href="http://georgemarques.com.br">George Marques</a>. Send bugs and suggestions to the <a href="https://github.com/flikore/validator/issues">issue tracker</a>.
        </div>
    </div>
</div>
        </div></div>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-48627703-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
    </body>
</html>