<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ site.baseurl }}/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ site.baseurl }}/css/syntax.css">
        <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
        <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <script src="{{ site.baseurl }}/js/autos.js"></script>
        <title>{{ site.data.meta.title }}{% if page.title %} &raquo; {{ page.title }}{% endif %}</title>
    </head>
    <body data-spy="scroll" data-target="#ulmenu">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
{% include navbar.html %}
                </div>