<nav class="navbar navbar-default" role="navigation" id="top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ site.baseurl }}">Validator</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="{% if page.overview %}active{% endif %}"><a href="{{ site.baseurl }}/">Overview</a></li>
                <li class="{% if page.download %}active{% endif %}"><a href="{{ site.baseurl}}/download.html">Download</a></li>
                <li class="{% if page.usage %}active{% endif %}"><a href="{{ site.baseurl}}/usage.html">Usage</a></li>
                <li class="{% if page.validators %}active{% endif %}"><a href="{{ site.baseurl}}/validators.html">Validators</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="https://github.com/flikore/validator" title="Flikore Validator GitHub repository" style="padding-top: 10px;padding-bottom: 10px;"><img src="{{ site.baseurl }}/imgs/github.png" height="30"></a></li>
                <li class="dropdown"><a href="#" data-toggle="dropdown">API Documentation <b class="caret"></b></a>
                    {% include versionlist.html %}
                </li>
            </ul>
        </div>
    </div>
</nav>